@import "~bootstrap/scss/bootstrap";

$borderMain: #999;
$link: #0099cc;
#header {
  padding: 20px;

  h1 {
    text-transform: uppercase;
    color: $borderMain;
    font-size: 4em;
  }

}

body {
  border-color: $borderMain
}

h2, h3 {
  text-transform: uppercase;
  padding: 10px 0;
}

a {
  color: $link;
}
.wrapperStyle{
  margin: 20px 0;
  display: block;
  padding: 20px;
  border: 1px solid $borderMain;
}

.borderBottom {
  border: 1px solid $borderMain;
}

hr {
  color: #333;
  background: #333;
}